.Landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #0c0011;
}

.Image{
    margin-top: 0px;
    scale: 0.85;
    opacity: 0.8;
    -webkit-animation: bounce-top 2s 1s both;
	        animation: bounce-top 2s 1s both;
}
@-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }

.button {
    position: relative;
    color: #ffffff;
    padding: 1rem 2.5rem;
    font-size: 1em;
    background-color: #27045b;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition-property: all;
    transition-duration: 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #6807f9;
    box-shadow: 0px 14px 56px -11px #6807f9;
  }
  
  .button:before {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 100px;
    right: 2rem;
    bottom: 37%;
    animation: 0.5s both ease-in-out infinite;
  }
  
  .button:hover::before {
    animation-name: bounce_591;
    transition: all 0.3s ease;
  }
  
  @keyframes bounce_591 {
    0% {
      bottom: 37%;
    }
  
    50% {
      bottom: 70%;
    }
  
    100% {
      bottom: 37%;
    }
  }