div.centralize {
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}
div.inputBlock {
	position: relative;
}
div.inputBlock input {
	font-weight: 500;
	font-size: 1rem;
	color: #000;
	width: 200px;
	height: 10px;
	padding: 15px 15px;
	border-radius: 1rem;
	border: 0.01rem solid  #000;
	outline:none;
}
div.inputBlock span.placeholder {
	height: 45px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
	position: absolute;
	margin: 12px 0;
	padding: 0 5px;
	display: flex;
	align-items: center;
	top: -12px;
	left: 17px;
	transition: all 0.2s;
	transform-origin: 0% 0%;
	background: none;
	pointer-events: none;
}


.centralize button {
    background: #9c12d3;
    font-family: inherit;
    padding: 0.6em 1em;
    font-weight: 900;
    font-size: 12px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    color: #fff;
}

.centralize button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  .centralize button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }