@font-face {
    font-family: 'pokemon';
    src: local('pokemon'), url(../../assets/PokemonClassic.ttf) format('truetype');
  }

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.nav h1{
font-family: pokemon;
margin-left: 1em;
}

.img {
    width: 15%;
    height: 15%;
}

.statsAndTypes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    color: #2f0041;

}


.stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    width: 30%;
    background-color: #ffffff;
    padding-bottom: 2em;
    border: 15px double black;
    margin-top: 1em;
    border-radius: 10px;

}


.stats h3{
    color: rgb(0, 0, 0);
}

.typesOrder{
    display: flex;
    flex-wrap: wrap;
    width: 25em;
    justify-content: space-between;

   
}

/* Buttons */
.button {

    background:#ffffff;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 5px double black;
    border-radius: 0.4em;
    box-shadow: 0.3em 0.5em purple;
    color: #000000;
  }
  
  .button:hover {
      transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  .button:active {
      transform: translate(0.05em, 0.05em);
      box-shadow: 0.05em 0.05em;
  }

/* input creates */

.centralize {
    display: flex;
	margin: 0.5em;
    color: black;

}
.inputBlock {
    display: grid;
    align-items: center;

}
.inputBlock input {
	font-weight: 900;
    align-items: center;
    width: 20em;

}
.inputBlock span {
    margin: 5px 1;
    color: rgb(0, 0, 0);
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
}

/* Types buttons */

.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    
}
.types{
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 4%;
    padding-top: 1%;
    margin-top: 1em;
    border: 15px double black;
}

.types h3 {
color: rgb(0, 0, 0);
}
ul{
    margin-block-start: 20px;
   
}
.ksCboxtags li{
    display: inline;
    border: 5px solid purple;
    font-size: 1.5em;
    font-weight: bold;
}
ul.ksCboxtags li label{
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #000000;
    border-radius: 25px;
    white-space: wrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}
ul.ksCboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ksCboxtags li input[type="checkbox"]:checked + label::before {
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}
ul.ksCboxtags li input[type="checkbox"]:checked + label {
    border: 5px solid #000000;
   
}
ul.ksCboxtags li input[type="checkbox"] {
    display: absolute;
}
ul.ksCboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}