.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
}

.statsAndTypes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: rgb(231, 196, 37);
}

.stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    width: 400px;
    background-color: #393d4446;
    border-radius: 10px;
    padding-bottom: 2%;
}

.typesOrder{
    display: grid;
   
}

/* Buttons */

.button {
    height: 45px;
    padding: 1.3em 3em;
    
}

.button:hover {
    background-color: #f0c305;
    
}

.button:active {
    transform: translateY(-1px);
}

/* input creates */

div.centralize {
    display: flex;
	
}
div.inputBlock {
	position: relative;
}
div.inputBlock input {
	font-weight: 500;
	
}
div.inputBlock span.placeholder {
	position: absolute;
	margin: 5px 0;
	
}
div.inputBlock input:valid + span.placeholder,
div.inputBlock input:focus + span.placeholder {
transform: scale(0.8) translateY(-30px);
background: #fff;
}
div.inputBlock input:focus{
color: #f0c305;
border-color: #f0c305;
}
div.inputBlock input:focus + span.placeholder {
color: #f0c305;
}

/* Types buttons */

.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}
.types{
    height: 100%;
    background-color: #393d4446;
    border-radius: 10px;
    /* border: 1px solid green; */
    margin-left: -15%;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 4%;
    padding-top: 1%;
}

ul{
    margin-block-start: 20px;
   
}
ul.ksCboxtags li{
    display: inline;
}
ul.ksCboxtags li label{
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}
ul.ksCboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}
ul.ksCboxtags li label::before {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    transition: transform .3s ease-in-out;
}
ul.ksCboxtags li input[type="checkbox"]:checked + label::before {
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}
ul.ksCboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #f0c305;
   
}
ul.ksCboxtags li input[type="checkbox"] {
    display: absolute;
}
ul.ksCboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}